header {
    border-bottom: 1px solid #ececec;
}

.hide{
    display: none;
}

.show{
    display: block;
}

p.error{
    color: #dc3545;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}

.campo, .textarea, .select{
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.campo:focus, .textarea:focus, .select:focus{
    border: solid 1px #666 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow:  none !important;
    box-shadow:  none !important;
}

.bd-1{
    border: solid 1px #666 !important;
}

.bd-2{
    border: solid 1px #ccc !important;
}

.titulo{
    max-width: 400px;
}
.accion{
    max-width: 78px;
}
.btn-titulo{
    background-color:transparent;
}
@media(min-width:580px) {
    .float-right-md {
        float: right;
    }
}

a{
    color: #212529;
}

.bg-gray{
    background: #f7f7f7;
}

.bg-blanco{
    background: #fff;
}

.pd-12{
    padding: 12px !important;
}

.pd-10{
    padding: 10px !important;
}

.pd-5{
    padding: 5px !important;
}

.pd-8{
    padding: 8px !important;
}

.w-20, .w-30, .w-40, .w-50, .w-60, .w-60, .w-70, .w-80, .w-90, .w-100{
    float: left;
}

.w-20{
    width: 20%;
}

.w-30{
    width: 30%;
}

.w-40{
    width: 40%;
}

.w-50{
    width: 50%;
}

.w-60{
    width: 60%;
}

.w-70{
    width: 70%;
}

.w-80{
    width: 80%;
}

.w-90{
    width: 90%;
    
}

.w-100{
    width: 100%;
}

.tx-30{
    font-size: 30px !important;
}

.tx-40{
    font-size: 40px !important;
}

.tx-50{
    font-size: 50px !important;
}

.tx-60{
    font-size: 60px !important;
}

.pd-10{
    padding: 10px !important;
}

.mg-t-10{
    margin-top: 10px !important;
}